# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unnecessary PinguBot related files
db
lavalink

# Docker and source control
docker-compose.yml
docker-compose.local.yml
.dockerignore
.github
.pre-commit-config.yml
**/.git
**/.gitignore
**/.gitattributes

# IDE clutter
.idea
.vscode

# Python clutter
__pycache__/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
