###### Requirements without Version Specifiers ######`
aiofiles
coverage
discord.py[voice]
prettytable
psutil
pylint
python-dotenv
pytz
youtube_dl
wheel

###### Requirements with Version Specifiers ######`
