###### Requirements without Version Specifiers ######`
aiofiles
asyncpg
coverage
discord.py[voice]
jishaku
prettytable
psutil
pylint
python-dotenv
pytz
wavelink
wheel

###### Requirements with Version Specifiers ######`
