###### Requirements without Version Specifiers ######`
discord.py
youtube_dl
psutil

###### Requirements with Version Specifiers ######`
coverage != 3.5             # Version Exclusion. Anything except version 3.5